<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Choose Me</title>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/chooseme.css" rel="stylesheet" type="text/css">
  
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
           <a href="#" class="navbar-brand" style="color: #0096c3;">ChooseMe</a>
          </div>
          <div class="btn-group notificacoes">
              <div class="dropdown-toggle" data-toggle="dropdown">
                 <img src="{{ STATIC_URL }}images/boneco.png" onMouseOut="this.src='{{ STATIC_URL }}images/boneco.png'"  
                onMouseOver="this.src='{{ STATIC_URL }}images/boneco2.png'" />
              </div>
              <span class="badge badge-red" id="notif-num">4</span>    
              <div class="dropdown-menu active notilist" role="menu">
                <span class="dropdown-header"><b>Notificações</b> 
                  <a class="pull-right" href="#" >
                    Ver todas
                  </a>
                </span>
                <div class="notif-list">
                  <a class="list-group-item" href="#"> 
                    <img class="pull-left" src="{{ STATIC_URL }}images/Apple.png"> 
                    <p>Você recebeu uma mensagem da empresa Apple.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/facebook.png"> 
                    <p>Você recebeu uma mensagem da empresa Facebook.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/ibm.jpg">
                    <p>A empresa IBM fez uma comentário sobre você.</p>
                  </a>
                  <a class="list-group-item" href="#">
                    <img class="pull-left" src="{{ STATIC_URL }}images/samsung.jpg">
                    <p>A empresa Samsung lhe enviou uma mensagem.</p>
                  </a>
                </div>
              </div>
            </div>

          


        <div class="navbar-right">
          <form class="navbar-form" role="search" style="float: left;">
            <div class="form-group">
              <input id="busca" type="text" class="form-control" placeholder="Pesquise por pessoas ou empresas" >
            </div>
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>

          <div class="btn-group">
            <div class="dropdown-toggle foto" data-toggle="dropdown">
              <img src="{{ STATIC_URL }}images/foto.jpg" class="img-circle " width="40px">
              <span class="caret"></span>  
            </div>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"> Ver Perfil</a></li>
              <li><a href="#"> Editar Perfil</a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>  Configurações</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-hand-up"></span>  Ajuda</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>  Sair</a></li>
            </ul>
          </div>

        </div>
      
      </div>
    </div>


    <div class="jumbotron">
      <div class="container">
        <div class="page-header titulo">
          <h1 class="text-center">Bem-vinda de volta, Renata!</h1>
        </div>
        <br><br>
        <div class="row acoes text-center">
          <div class="col-md-6">
            <a href="#" class="btn btn-outline">
              <img src="{{ STATIC_URL }}images/robot.png" width="100px">
              <div class="caption">
                <span class="text-center network-name"><b>Teste suas competências </b></span>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="btn btn-outline">
              <img src="{{ STATIC_URL }}images/curriculum.png" width="100px" class="block center-block" >
              <span class="text-center network-name"><b>Atualize suas informações</b></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="inbox">
      <div class="container">
        <div class="text-left" id="inbox-titulo">
          <img src="{{ STATIC_URL }}images/emailCircle.png" width="80px">
          <h1 >Mensagens</h1>
        </div>
        <div class="inbox">
          <div class="col-md-4 well well-sm msgs">
            <div class="lista">
              <a href="#" class="list-group-item">
                <h4><img src="{{ STATIC_URL }}images/facebook.png" width="30px"> Facebook <img src="{{ STATIC_URL }}images/open.png" class="pull-right" width="15px"></h4>
                  <p>Convite para seleção.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4><img src="{{ STATIC_URL }}images/Apple.png" width="30px"> Apple <img src="{{ STATIC_URL }}images/open.png" class="pull-right" width="15px"></h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4><img src="{{ STATIC_URL }}images/microsoft.jpg" width="30px"> Microsoft <img src="{{ STATIC_URL }}images/email.png" class="pull-right" width="19px"></h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4><img src="{{ STATIC_URL }}images/google.jpg" width="30px"> Google <img src="{{ STATIC_URL }}images/email.png" class="pull-right" width="19px"></h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4><img src="{{ STATIC_URL }}images/samsung.jpg" width="30px"> Samsung <img src="{{ STATIC_URL }}images/email.png" class="pull-right" width="19px"></h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4><img src="{{ STATIC_URL }}images/ibm.jpg" width="30px"> IBM <img src="{{ STATIC_URL }}images/email.png" class="pull-right" width="19px"></h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4><img src="{{ STATIC_URL }}images/HP.png" width="30px"> HP <img src="{{ STATIC_URL }}images/email.png" class="pull-right" width="19px"></h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </a>
              
            </div>
          </div>
          <div class="col-md-8 well well-sm">
            <div class="panel">
              <div class="panel-header cabecalho">
                <h3>Facebook - Convite para seleção <small class="pull-right">11/05/2013 - 15:27</small></h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, taciti proin diam risus vitae leo in, elit sociis hic nulla perspiciatis lobortis, vel lorem egestas et, eu eget volutpat consectetuer amet, morbi quis praesent. Turpis feugiat eu dolor sit faucibus fusce, pede ac, rutrum tempor vestibulum urna risus, nec et nullam.Turpis feugiat eu dolor sit faucibus fusce, pede ac, rutrum tempor vestibulum urna risus, nec et nullam.Turpis feugiat eu dolor sit faucibus fusce, pede ac, rutrum tempor vestibulum urna risus, nec et nullam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="footer ">
      <div class="container">
        <div class="row">
          <img class="col-md-3 block center-block" src="{{ STATIC_URL }}images/choose.jpg"  width="220px">
          <div class="col-md-2 temp text-center">
            <h4 class="text-center">Saiba mais</h4>            
            <p>Como funciona</p>
            <p>Detalhes da avaliação</p>
            
            
          </div>
          
          <div class="col-md-2 text-center">
            <h4 class="text-center">Sobre</h4>
            <p>Empresa</p>
            <p>Nosso time</p>
            <p>Blog</p>
          </div>        
  
          <div class="col-md-2 text-center">
            <h4>Suport</h4>
            <div class="footer-contato">
              <p>Termos de uso</p>
              <p>Politicas de privacidade</p>  
              <p>Ajuda</p>
            </div>
            
          </div>
          <div class="col-md-2">
            <h4 class="text-center">Siga-nos</h4>  
            <ul class="list-inline">
              <li><a href="#"><img src="{{ STATIC_URL }}images/facebook.png" width="23px"></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}images/twitter.png" width="23px"></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}images/feed.png" width="23px"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>    

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  </body>
</html>
